[Desktop Entry]
Version=1.0
Type=Application
Name=RustRover (EAP)
Icon=rustrover
Comment=A powerhouse IDE for Rust developers (EAP)
Exec=/usr/bin/rustrover-eap %f
Terminal=false
StartupNotify=true
StartupWMClass=jetbrains-rustrover
Categories=Development;IDE;