pkgbase = pycharm
	pkgdesc = The only Python IDE you need. Built for web, data, and AI/ML professionals. Supercharged with an AI-enhanced IDE experience.
	pkgver = 2025.2+252.23892.439
	pkgrel = 1
	epoch = 1
	url = https://www.jetbrains.com/pycharm
	arch = x86_64
	license = custom:jetbrains
	depends = libdbusmenu-glib
	depends = jbr-runtime
	options = !strip
	source = jetbrains-pycharm.desktop
	source = https://download.jetbrains.com/python/pycharm-2025.2.tar.gz
	source = https://download.jetbrains.com/python/pycharm-2025.2.tar.gz.sha256
	sha256sums = cbdf8c58a6d239fc09733b49e33cb2fb7e3cfa43ebaac06b7189d19935dd35d3
	sha256sums = bc3fbb31ea10e171686b9be8734051382233748502f124393c52848aefe97b32
	sha256sums = e614c2d7826dd68e1b9d35febb3ebdad187daf91694dd5135f9784a563dce7c5

pkgname = pycharm
