pkgbase = pycharm
	pkgdesc = The only Python IDE you need. Built for web, data, and AI/ML professionals. Supercharged with an AI-enhanced IDE experience.
	pkgver = 2025.3.1.1
	pkgrel = 1
	url = https://www.jetbrains.com/pycharm
	arch = x86_64
	license = custom:jetbrains
	depends = libdbusmenu-glib
	depends = jbr-runtime
	options = !strip
	source = jetbrains-pycharm.desktop
	source = https://download.jetbrains.com/python/pycharm-2025.3.1.1.tar.gz
	source = https://download.jetbrains.com/python/pycharm-2025.3.1.1.tar.gz.sha256
	sha256sums = cbdf8c58a6d239fc09733b49e33cb2fb7e3cfa43ebaac06b7189d19935dd35d3
	sha256sums = de54121e9a8d7ffc9a3b22167ae8588ad23ffe606e246fec7efad631d26fb44b
	sha256sums = 7bbdfcacbe172fed0f67fbd08e8380ec719bc4f3d3c45036feba300ad1882c89

pkgname = pycharm
