pkgbase = openjdk-zulu11-ca-fx-bin
	pkgdesc = Azul Zulu Builds of OpenJDK 11 With OpenJFX are open source, TCK-tested and certified builds of OpenJDK 11.
	pkgver = 11+11.82.19+11.0.28
	pkgrel = 1
	epoch = 1
	url = https://www.azul.com/downloads
	install = install_openjdk-zulu11-ca-fx-bin.sh
	arch = x86_64
	license = custom
	depends = java-environment-common>=3
	depends = java-runtime-common>=3
	depends = ca-certificates-utils
	provides = java-environment=11
	provides = java-environment-openjdk=11
	provides = java-runtime=11
	provides = java-runtime-openjdk=11
	provides = java-runtime-headless=11
	provides = java-runtime-headless-openjdk=11
	provides = jre-openjdk=11
	provides = jdk-openjdk=11
	provides = jre-openjdk-headless=11
	provides = java-openjfx=11
	provides = java11-environment=11
	provides = java11-environment-openjdk=11
	provides = java11-runtime=11
	provides = java11-runtime-openjdk=11
	provides = java11-runtime-headless=11
	provides = java11-runtime-headless-openjdk=11
	provides = jre11-openjdk=11
	provides = jdk11-openjdk=11
	provides = jre11-openjdk-headless=11
	provides = java11-openjfx=11
	source = https://cdn.azul.com/zulu/bin/zulu11.82.19-ca-fx-jdk11.0.28-linux_x64.tar.gz
	b2sums = dee20835b1c9c0b7441767b4f18877022c0146d9d16e829ae5094b9bfd59860bf6d1b968faf9fe1dae64056d2eb4eed63244823372e7773035af135bfdfe8b5e

pkgname = openjdk-zulu11-ca-fx-bin
