pkgbase = lxgw-wenkai
	pkgdesc = An open-source Chinese font derived from Fontworks' Klee One.
	pkgver = 1.520
	pkgrel = 1
	url = https://github.com/lxgw/LxgwWenKai
	arch = any
	license = OFL-1.1-RFN
	source = https://github.com/lxgw/LxgwWenKai/releases/download/v1.520/lxgw-wenkai-v1.520.tar.gz
	source = https://github.com/lxgw/LxgwWenKaiGB/releases/download/v1.520/lxgw-wenkai-gb-v1.520.tar.gz
	source = https://github.com/lxgw/LxgwWenKaiTC/releases/download/v1.520/lxgw-wenkai-tc-v1.520.tar.gz
	sha256sums = f069bccc54392186ae48f676ecc73964b71f28ef740b6e75231a90946fe396b1
	sha256sums = 4a0675f416d89178ef5f6c0ad8e95cdf938cd03466f6ee252fb0932371294d25
	sha256sums = 71d6c1d7a2d3780859081fecc84e3d1997f0cb34388d115bcdd6fb5291c8dbf9

pkgname = ttf-lxgw-wenkai

pkgname = ttf-lxgw-wenkai-gb

pkgname = ttf-lxgw-wenkai-tc
