pkgbase = intellij-idea-community
	pkgdesc = The IDE for Professional Development, in Java and Kotlin
	pkgver = 2025.2.1+252.25557.131
	pkgrel = 1
	epoch = 1
	url = https://www.jetbrains.com/idea
	arch = x86_64
	license = custom:jetbrains
	depends = libdbusmenu-glib
	depends = jbr-runtime
	options = !strip
	source = jetbrains-intellij-idea-community.desktop
	source = https://download.jetbrains.com/idea/ideaIC-2025.2.1.tar.gz
	source = https://download.jetbrains.com/idea/ideaIC-2025.2.1.tar.gz.sha256
	sha256sums = f9d03b555ca323727a902b00cc39587deca11b1fd6b199056d4c65a3d2a7bdee
	sha256sums = fc76fe8b6693b18d5d7385bb005f415287dbd5897b313287b9ef56dd0df9d5bd
	sha256sums = 9740cbf713ca5a01b5000226d4213ee5d1ee1a4194c6ad85e98bae97d92f0caf

pkgname = intellij-idea-community
