pkgbase = intellij-idea-community
	pkgdesc = The IDE for Professional Development, in Java and Kotlin
	pkgver = 2025.2+252.23892.409
	pkgrel = 1
	epoch = 1
	url = https://www.jetbrains.com/idea
	arch = x86_64
	license = custom:jetbrains
	depends = libdbusmenu-glib
	depends = jbr-runtime
	options = !strip
	source = jetbrains-intellij-idea-community.desktop
	source = https://download.jetbrains.com/idea/ideaIC-2025.2.tar.gz
	source = https://download.jetbrains.com/idea/ideaIC-2025.2.tar.gz.sha256
	sha256sums = f9d03b555ca323727a902b00cc39587deca11b1fd6b199056d4c65a3d2a7bdee
	sha256sums = 30e917c55507443c61674d0bdd5cbb40a5b02c628d5073f8a0028ef49e0c50b5
	sha256sums = b53d4f27f61a85529be51b529fb2096a118bcd5d545de850abfc8026e0ff3e16

pkgname = intellij-idea-community
