pkgbase = intellij-idea-community
	pkgdesc = The IDE for Professional Development, in Java and Kotlin
	pkgver = 2025.2.5+252.28238.7
	pkgrel = 1
	epoch = 1
	url = https://www.jetbrains.com/idea
	arch = x86_64
	license = custom:jetbrains
	depends = libdbusmenu-glib
	depends = jbr-runtime
	options = !strip
	source = jetbrains-intellij-idea-community.desktop
	source = https://download.jetbrains.com/idea/ideaIC-2025.2.5.tar.gz
	source = https://download.jetbrains.com/idea/ideaIC-2025.2.5.tar.gz.sha256
	sha256sums = f9d03b555ca323727a902b00cc39587deca11b1fd6b199056d4c65a3d2a7bdee
	sha256sums = 995c334cc3e143f13467abafef07a1ccf7d06275512bb6f4c91123948786ab7c
	sha256sums = 0fe7bf8975261c3e84715fd65a806c35ae22847c54c429f446859d3b7b1c181d

pkgname = intellij-idea-community
