[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJ IDEA Community
Icon=idea
Comment=The IDE for Professional Development, in Java and Kotlin
Exec=/usr/bin/idea-ce %f
Terminal=false
StartupNotify=true
StartupWMClass=jetbrains-idea-ce
Categories=Development;IDE;