pkgbase = openjdk-zulu-ca-fx-bin
	pkgdesc = Azul Zulu Builds of OpenJDK 24 With OpenJFX are open source, TCK-tested and certified builds of OpenJDK 24.
	pkgver = 24+24.32.13+24.0.2
	pkgrel = 1
	epoch = 1
	url = https://www.azul.com/downloads
	install = install_openjdk-zulu-ca-fx-bin.sh
	arch = x86_64
	license = custom
	depends = java-environment-common>=3
	depends = java-runtime-common>=3
	depends = ca-certificates-utils
	provides = java-environment=24
	provides = java-environment-openjdk=24
	provides = java-runtime=24
	provides = java-runtime-openjdk=24
	provides = java-runtime-headless=24
	provides = java-runtime-headless-openjdk=24
	provides = jre-openjdk=24
	provides = jdk-openjdk=24
	provides = jre-openjdk-headless=24
	provides = java-openjfx=24
	provides = java24-environment=24
	provides = java24-environment-openjdk=24
	provides = java24-runtime=24
	provides = java24-runtime-openjdk=24
	provides = java24-runtime-headless=24
	provides = java24-runtime-headless-openjdk=24
	provides = jre24-openjdk=24
	provides = jdk24-openjdk=24
	provides = jre24-openjdk-headless=24
	provides = java24-openjfx=24
	source = https://cdn.azul.com/zulu/bin/zulu24.32.13-ca-fx-jdk24.0.2-linux_x64.tar.gz
	b2sums = 05c3cde4a284a0b4a252d20b55dbcba8bc9d4382ef414962de2dc1265433db40030e8f40d00d8190efbe2bd3edc34d5f3d15667ec497559eae19bcfb1242885a

pkgname = openjdk-zulu-ca-fx-bin
