pkgbase = pycharm-ultimate
	pkgdesc = The only Python IDE you need. Built for web, data, and AI/ML professionals. Supercharged with an AI-enhanced IDE experience.
	pkgver = 2025.1
	pkgrel = 2
	epoch = 1
	url = https://www.jetbrains.com/pycharm
	arch = x86_64
	license = custom:jetbrains
	depends = libdbusmenu-glib
	depends = jbr-runtime
	options = !strip
	source = jetbrains-pycharm-ultimate.desktop
	source = https://download.jetbrains.com/python/pycharm-professional-2025.1.tar.gz
	source = https://download.jetbrains.com/python/pycharm-professional-2025.1.tar.gz.sha256
	sha256sums = 8a6a20a5392e2238f09ac6720616cc3115451f536314ccde4a7a681a76a7cc6c
	sha256sums = 1282907f134a726e17bb7fe8cb7088e406aa4fbf9d910def03633572f3a62f8c
	sha256sums = 092965fd35f8bc80aa6f05fb73d5ebdd198e4c5302de9d9773e024cb5a6f161d

pkgname = pycharm-ultimate
