pkgbase = goland-eap
	pkgdesc = The complete IDE crafted for Gophers (EAP)
	pkgver = 2025.1+251.23774.216
	pkgrel = 1
	epoch = 1
	url = https://www.jetbrains.com/go/nextversion/
	arch = x86_64
	license = custom:jetbrains
	depends = libdbusmenu-glib
	depends = jbr-runtime
	options = !strip
	source = jetbrains-goland-eap.desktop
	source = https://download.jetbrains.com/go/goland-251.23774.216.tar.gz
	source = https://download.jetbrains.com/go/goland-251.23774.216.tar.gz.sha256
	sha256sums = db62a29fda1c33279b6e253443a35a5be9332731191d2715847979d2db4c9c3f
	sha256sums = 9c74be72b091a866d35b3561f697c4161750dee8350e7b2f3563b6012c9333d0
	sha256sums = c8cd8109fd7ede13b8f2ea4aefad18a8062f72704fdcab99708f1f7ae84e7dba

pkgname = goland-eap
