pkgbase = rubymine
	pkgdesc = Empowering Ruby Developers. Code Smarter with Ruby on Rails IDE
	pkgver = 2025.2+252.23892.415
	pkgrel = 1
	epoch = 1
	url = https://www.jetbrains.com/ruby
	arch = x86_64
	license = custom:jetbrains
	depends = libdbusmenu-glib
	depends = jbr-runtime
	options = !strip
	source = jetbrains-rubymine.desktop
	source = https://download.jetbrains.com/ruby/RubyMine-2025.2.tar.gz
	source = https://download.jetbrains.com/ruby/RubyMine-2025.2.tar.gz.sha256
	sha256sums = d7772957d2ea7ff37e952d74fc5b96005662253d982de00a63883aa3a5eac800
	sha256sums = 2a9c2a4b4ed222bdf0038553f46424f8bea1a2ebe6542c764d9586d82351381d
	sha256sums = 5689789a65265f95f6f59467f848f594e381333efc857a9022f3b7ac821bd5cc

pkgname = rubymine
