pkgbase = rubymine
	pkgdesc = Empowering Ruby Developers. Code Smarter with Ruby on Rails IDE
	pkgver = 2025.2.1+252.25557.135
	pkgrel = 1
	epoch = 1
	url = https://www.jetbrains.com/ruby
	arch = x86_64
	license = custom:jetbrains
	depends = libdbusmenu-glib
	depends = jbr-runtime
	options = !strip
	source = jetbrains-rubymine.desktop
	source = https://download.jetbrains.com/ruby/RubyMine-2025.2.1.tar.gz
	source = https://download.jetbrains.com/ruby/RubyMine-2025.2.1.tar.gz.sha256
	sha256sums = d7772957d2ea7ff37e952d74fc5b96005662253d982de00a63883aa3a5eac800
	sha256sums = fbed517b4c60623c04b045dd6cfff08105783a56dd1b831b164a72aa2ead6a38
	sha256sums = 2becacd76b5be94081946f18c32039c1fa646c81940455714d516157aeb9b05c

pkgname = rubymine
