[Desktop Entry]
Version=1.0
Type=Application
Name=RubyMine
Icon=rubymine
Comment=Empowering Ruby Developers. Code Smarter with Ruby on Rails IDE
Exec=/usr/bin/rubymine %f
Terminal=false
StartupNotify=true
StartupWMClass=jetbrains-rubymine
Categories=Development;IDE;