pkgbase = pycharm-eap
	pkgdesc = Supercharge your development with an AI-enhanced IDE experience (EAP)
	pkgver = 2025.1+251.23774.211
	pkgrel = 1
	epoch = 1
	url = https://www.jetbrains.com/pycharm/nextversion/
	arch = x86_64
	license = custom:jetbrains
	depends = libdbusmenu-glib
	depends = jbr-runtime
	options = !strip
	source = jetbrains-pycharm-eap.desktop
	source = https://download.jetbrains.com/python/pycharm-professional-251.23774.211.tar.gz
	source = https://download.jetbrains.com/python/pycharm-professional-251.23774.211.tar.gz.sha256
	sha256sums = 5b82cbab463d1c170fe1916cdcdea9f660b0b19ffe50ca72e9366ba16ee74170
	sha256sums = 4bd06cc4e11608ea3a2a76c6ff5a343a1b41e8a9ce0d827bc8e57fcf5be5f18b
	sha256sums = 83a1a131a49a4fd5ab41aaf167f2aaba5d778f8635a40f1d0c04cd0fc3d6948a

pkgname = pycharm-eap
