pkgbase = clion-eap
	pkgdesc = CLion (EAP)
	pkgver = 2025.1+251.23774.202
	pkgrel = 2
	url = https://www.jetbrains.com/clion/nextversion/
	arch = x86_64
	license = custom:jetbrains
	depends = libdbusmenu-glib
	depends = jbr-runtime
	options = !strip
	backup = opt/jetbrains/clion-eap/bin/clion64.vmoptions
	backup = opt/jetbrains/clion-eap/bin/idea.properties
	source = jetbrains-clion-eap.desktop
	source = https://download.jetbrains.com/cpp/CLion-251.23774.202.tar.gz
	source = https://download.jetbrains.com/cpp/CLion-251.23774.202.tar.gz.sha256
	sha256sums = 29470d7702618a359a903a2ea7652d9d9138c993f4826fea33f0d985f9754b75
	sha256sums = 0c9665b0f8360fa53d9fcf74d78a35aac74645fe2d38249737cf6aa7ccd50ab4
	sha256sums = bb641b549ad084f97767358c7d7f5b8a6e8c367300b9e0145d21ab7551235c2d

pkgname = clion-eap
