pkgbase = clion-eap
	pkgdesc = A cross-platform IDE for C and C++ (EAP)
	pkgver = 2025.1+251.23774.202
	pkgrel = 1
	epoch = 1
	url = https://www.jetbrains.com/clion/nextversion/
	arch = x86_64
	license = custom:jetbrains
	depends = libdbusmenu-glib
	depends = jbr-runtime
	options = !strip
	source = jetbrains-clion-eap.desktop
	source = https://download.jetbrains.com/cpp/CLion-251.23774.202.tar.gz
	source = https://download.jetbrains.com/cpp/CLion-251.23774.202.tar.gz.sha256
	sha256sums = 99cfb97f1149cc257c604645cb9d55c43a56c987897e8622bd3a8c56c2fc4223
	sha256sums = 0c9665b0f8360fa53d9fcf74d78a35aac74645fe2d38249737cf6aa7ccd50ab4
	sha256sums = bb641b549ad084f97767358c7d7f5b8a6e8c367300b9e0145d21ab7551235c2d

pkgname = clion-eap
