pkgbase = intellij-idea-ultimate
	pkgdesc = The IDE for Professional Development, in Java and Kotlin
	pkgver = 2025.1.4.1+251.27812.49
	pkgrel = 1
	epoch = 1
	url = https://www.jetbrains.com/idea
	arch = x86_64
	license = custom:jetbrains
	depends = libdbusmenu-glib
	depends = jbr-runtime
	options = !strip
	source = jetbrains-intellij-idea-ultimate.desktop
	source = https://download.jetbrains.com/idea/ideaIU-2025.1.4.1.tar.gz
	source = https://download.jetbrains.com/idea/ideaIU-2025.1.4.1.tar.gz.sha256
	sha256sums = 031f4adf5c9db1c734a16fb31c95737ce172d0d6b4e74a4c5a6276ce6bb095e1
	sha256sums = d1335bcdcac3746a10d6b3346f06ab6d34c9ad14c4af759322d9a93f7b428894
	sha256sums = 82dfbe322b8bec8c52fa534cc045db402f43cd6df82f91052180d6e10606c5f7

pkgname = intellij-idea-ultimate
