pkgbase = intellij-idea-ultimate
	pkgdesc = The IDE for Professional Development, in Java and Kotlin
	pkgver = 2025.1
	pkgrel = 2
	epoch = 1
	url = https://www.jetbrains.com/idea
	arch = x86_64
	license = custom:jetbrains
	depends = libdbusmenu-glib
	depends = jbr-runtime
	options = !strip
	source = jetbrains-intellij-idea-ultimate.desktop
	source = https://download.jetbrains.com/idea/ideaIU-2025.1.tar.gz
	source = https://download.jetbrains.com/idea/ideaIU-2025.1.tar.gz.sha256
	sha256sums = 9b5ac76b3f2b17fa2290f842b08eea4802b778c39ef282643a2ef36e0c737568
	sha256sums = 9946a690072f166607fd7b0d29e9e9c6a24c79fd5d7365a5600366b0b27532ec
	sha256sums = d5f5eebee20b35df82ebb02ead84ab8f5da7023092ac73a81c369127cfd70dbd

pkgname = intellij-idea-ultimate
