pkgbase = lxgw-bright-code
	pkgdesc = A merged font of Monaspace Argon and LXGW WenKai.
	pkgver = 2.720
	pkgrel = 1
	url = https://github.com/lxgw/LxgwBright-Code
	arch = any
	license = OFL-1.1-RFN
	makedepends = 7zip
	noextract = LXGWBrightCode-v2.720.7z
	noextract = LXGWBrightCodeGB-v2.720.7z
	noextract = LXGWBrightCodeTC-v2.720.7z
	source = LXGWBrightCode-v2.720.7z::https://github.com/lxgw/LxgwBright-Code/releases/download/v2.720/LXGWBrightCode.7z
	source = LXGWBrightCodeGB-v2.720.7z::https://github.com/lxgw/LxgwBright-Code/releases/download/v2.720/LXGWBrightCodeGB.7z
	source = LXGWBrightCodeTC-v2.720.7z::https://github.com/lxgw/LxgwBright-Code/releases/download/v2.720/LXGWBrightCodeTC.7z
	sha256sums = 833a872796b89ff580804af56b12a5ac1a051ddeaec095b06271b589863bf4de
	sha256sums = aaf10ba8164797972ff4a8500b6cb28667aee072b2efbdce251111e02619d23b
	sha256sums = 2b9efe92416fa73ef0904d3c99626f57fdf44833a536efa85c541457657cb591

pkgname = ttf-lxgw-bright-code

pkgname = ttf-lxgw-bright-code-gb

pkgname = ttf-lxgw-bright-code-tc
