pkgbase = lxgw-bright-code
	pkgdesc = A merged font of Monaspace Argon and LXGW WenKai.
	pkgver = 2.822
	pkgrel = 1
	url = https://github.com/lxgw/LxgwBright-Code
	arch = any
	license = OFL-1.1-RFN
	makedepends = 7zip
	noextract = LXGWBrightCode-v2.822.7z
	noextract = LXGWBrightCodeGB-v2.822.7z
	noextract = LXGWBrightCodeTC-v2.822.7z
	source = LXGWBrightCode-v2.822.7z::https://github.com/lxgw/LxgwBright-Code/releases/download/v2.822/LXGWBrightCode.7z
	source = LXGWBrightCodeGB-v2.822.7z::https://github.com/lxgw/LxgwBright-Code/releases/download/v2.822/LXGWBrightCodeGB.7z
	source = LXGWBrightCodeTC-v2.822.7z::https://github.com/lxgw/LxgwBright-Code/releases/download/v2.822/LXGWBrightCodeTC.7z
	sha256sums = 85388410472dac1586a34ca23f67c9ef98cb19959f0fd5b1d37945dc60e7bc7b
	sha256sums = 586732dedd6918a1300b90e3d2ea3ef4a848d8ff31a96294eb272d177ff238e8
	sha256sums = ca78c41d8d9a7d677147568002f7e13f620f1fca7f809176aab1477eb1901da4

pkgname = ttf-lxgw-bright-code

pkgname = ttf-lxgw-bright-code-gb

pkgname = ttf-lxgw-bright-code-tc
