pkgbase = openjdk-zulu8-ca-fx-bin
	pkgdesc = Azul Zulu Builds of OpenJDK 8 With OpenJFX are open source, TCK-tested and certified builds of OpenJDK 8.
	pkgver = 8+8.88.0.19+8.0.462
	pkgrel = 1
	epoch = 1
	url = https://www.azul.com/downloads
	install = install_openjdk-zulu8-ca-fx-bin.sh
	arch = x86_64
	license = custom
	depends = java-environment-common>=3
	depends = java-runtime-common>=3
	depends = ca-certificates-utils
	provides = java-environment=8
	provides = java-environment-openjdk=8
	provides = java-runtime=8
	provides = java-runtime-openjdk=8
	provides = java-runtime-headless=8
	provides = java-runtime-headless-openjdk=8
	provides = jre-openjdk=8
	provides = jdk-openjdk=8
	provides = jre-openjdk-headless=8
	provides = java-openjfx=8
	provides = java8-environment=8
	provides = java8-environment-openjdk=8
	provides = java8-runtime=8
	provides = java8-runtime-openjdk=8
	provides = java8-runtime-headless=8
	provides = java8-runtime-headless-openjdk=8
	provides = jre8-openjdk=8
	provides = jdk8-openjdk=8
	provides = jre8-openjdk-headless=8
	provides = java8-openjfx=8
	source = https://cdn.azul.com/zulu/bin/zulu8.88.0.19-ca-fx-jdk8.0.462-linux_x64.tar.gz
	b2sums = a7eb3614c5a7a6a1f85e74e4300512f38b940ac7f01d05b9a12ce7d7066d6c64794d1b4bda9260ca546e99d30b33bd5cc3273dd5707a4c08316f27572e2e2597

pkgname = openjdk-zulu8-ca-fx-bin
