pkgbase = linuxqq-nt-bwrap
	pkgdesc = New Linux QQ based on Electron, with bubblewrap sandbox and some tweaks
	pkgver = 3.2.16_250401
	pkgrel = 1
	epoch = 1
	url = https://im.qq.com/linuxqq/index.shtml
	install = linuxqq-nt-bwrap.install
	arch = x86_64
	license = custom
	makedepends = 7zip
	depends = at-spi2-core
	depends = alsa-lib
	depends = desktop-file-utils
	depends = gtk3
	depends = gtk-update-icon-cache
	depends = libnotify
	depends = nss
	depends = gnutls
	depends = bubblewrap
	depends = xdg-user-dirs
	depends = flatpak-xdg-utils
	depends = libvips
	depends = openslide
	depends = autoconf
	depends = libunwind
	depends = iproute2
	optdepends = libappindicator-gtk3: 以显示托盘图标
	optdepends = gjs: 提供 GNOME Wayland 下的截图支持
	optdepends = slirp4netns: 固定 MAC 地址时需要
	optdepends = socat: 固定 MAC 地址时需要
	provides = qq
	provides = linuxqq
	conflicts = linuxqq
	options = !emptydirs
	source = start.sh
	source = start_normal.sh
	source = start_mac_fix.sh
	source = start_inner.sh
	source = config.json
	source = resolv.conf
	source = xdg-open.sh
	source = https://dldir1.qq.com/qqfile/qq/QQNT/Linux/QQ_3.2.16_250401_amd64_01.deb
	sha256sums = 2748a351259d378ab9773000cbf1ea0448de5ae92f28bb9e366fa795e1715739
	sha256sums = 2c424059ebca47d4aad6a3128740932307621da3e1e05d6488762b79c7a829db
	sha256sums = 4efadec6df7a406cd62bd4598f47df9081a821b3ba2f40a0be9cf87197db23f4
	sha256sums = 3c78b576aa5d07e4cacde95d1088530503478bb0d43d19371c5da56f675d9861
	sha256sums = bb2ec0f104da4da7422d9b0f51c71d0ab38ed2a21764a7a643ab42689e098e4b
	sha256sums = cc002ee0eb2e8702c97d16f4ce628841cd5fe10195875a075432e92248741424
	sha256sums = 32a68199730f679ca7a3b445196eeb11d9b9f1ae11d959f36d637708b4d81acc
	sha256sums = 7feedba38cd54b2c27004d5624f52354bc85250625cf9e905446a1dae0d2ccff

pkgname = linuxqq-nt-bwrap
