pkgbase = ttf-lxgw-wenkai-kr
	pkgdesc = Korean Version of LXGW WenKai
	pkgver = 0.901
	pkgrel = 1
	url = https://github.com/lxgw/LxgwWenKaiKR
	arch = any
	license = OFL-1.1-RFN
	source = https://github.com/lxgw/LxgwWenKaiKR/releases/download/v0.901/lxgw-wenkai-kr-v0.901.tar.gz
	sha256sums = 848bb9517e7dde856b85cab778820e235273c1e3bd79e9dc8905f13c20526d33

pkgname = ttf-lxgw-wenkai-kr
