pkgbase = intellij-idea
	pkgdesc = The IDE for Professional Development, in Java and Kotlin
	pkgver = 2025.3.1.1+253.29346.240
	pkgrel = 1
	epoch = 1
	url = https://www.jetbrains.com/idea
	arch = x86_64
	license = custom:jetbrains
	depends = libdbusmenu-glib
	depends = jbr-runtime
	options = !strip
	source = jetbrains-intellij-idea.desktop
	source = https://download.jetbrains.com/idea/idea-2025.3.1.1.tar.gz
	source = https://download.jetbrains.com/idea/idea-2025.3.1.1.tar.gz.sha256
	sha256sums = 4e9a00665363381a9c17e32f115744af38dc5f987f42502de8e01b120ecc2bfc
	sha256sums = 3a064b22961f3f39b866b64b628558e0d0f708d423a3f9565d43f0e81196997b
	sha256sums = 9182c73c9e9847f20d540bd15327922bf7705d2d1dca3a7a447dd432d25c25df

pkgname = intellij-idea
