pkgbase = intellij-idea
	pkgdesc = The IDE for Professional Development, in Java and Kotlin
	pkgver = 2026.1.2
	pkgrel = 1
	url = https://www.jetbrains.com/idea
	arch = x86_64
	license = custom:jetbrains
	depends = libdbusmenu-glib
	depends = jbr-runtime
	options = !strip
	source = jetbrains-intellij-idea.desktop
	source = https://download.jetbrains.com/idea/idea-2026.1.2.tar.gz
	source = https://download.jetbrains.com/idea/idea-2026.1.2.tar.gz.sha256
	sha256sums = 4e9a00665363381a9c17e32f115744af38dc5f987f42502de8e01b120ecc2bfc
	sha256sums = e820175d1a7d0ee2492e7b38f6b7f046a132bfe4b082086d9b035edb03c777b1
	sha256sums = bc6f571f92d015e7b0f9fd790133b8a06aec373b87d72c6ee67d1127121a6ec5

pkgname = intellij-idea
