pkgbase = goland
	pkgdesc = Go Productive. The complete IDE crafted for Gophers
	pkgver = 2025.3.1.1
	pkgrel = 1
	url = https://www.jetbrains.com/go
	arch = x86_64
	license = custom:jetbrains
	depends = libdbusmenu-glib
	depends = jbr-runtime
	options = !strip
	source = jetbrains-goland.desktop
	source = https://download.jetbrains.com/go/goland-2025.3.1.1.tar.gz
	source = https://download.jetbrains.com/go/goland-2025.3.1.1.tar.gz.sha256
	sha256sums = 774f82d08909d39da78b619c85c1f03b6747665e51386e4c8237fa49ad704b36
	sha256sums = fb803ead33308978cab812367547fdd05f4a505686941db180ef815f4f569d6c
	sha256sums = 9ff25c6fe31c0988ae473e8f6cc823070b7aa99bd0243c601fd1d36d636a6948

pkgname = goland
