pkgbase = goland
	pkgdesc = Go Productive. The complete IDE crafted for Gophers
	pkgver = 2026.1.1
	pkgrel = 1
	url = https://www.jetbrains.com/go
	arch = x86_64
	license = custom:jetbrains
	depends = libdbusmenu-glib
	depends = jbr-runtime
	options = !strip
	source = jetbrains-goland.desktop
	source = https://download.jetbrains.com/go/goland-2026.1.1.tar.gz
	source = https://download.jetbrains.com/go/goland-2026.1.1.tar.gz.sha256
	sha256sums = 774f82d08909d39da78b619c85c1f03b6747665e51386e4c8237fa49ad704b36
	sha256sums = 012ceac3cc6e45a480c33a2206c2fee8f472b92bc1878ded9c5e2612692eafdb
	sha256sums = d984f7531f78dbebcae992efe3ec59592e8ac5473af98431242cfdae478999cf

pkgname = goland
