pkgbase = rider-eap
	pkgdesc = Rider (EAP)
	pkgver = 2025.1+251.23774.212
	pkgrel = 2
	url = https://www.jetbrains.com/rider/nextversion/
	arch = x86_64
	license = custom:jetbrains
	depends = libdbusmenu-glib
	depends = jbr-runtime
	options = !strip
	backup = opt/jetbrains/rider-eap/bin/rider64.vmoptions
	backup = opt/jetbrains/rider-eap/bin/idea.properties
	source = jetbrains-rider-eap.desktop
	source = https://download.jetbrains.com/rider/JetBrains.Rider-2025.1-EAP9-251.23774.212.Checked.tar.gz
	source = https://download.jetbrains.com/rider/JetBrains.Rider-2025.1-EAP9-251.23774.212.Checked.tar.gz.sha256
	sha256sums = 787365fb48b57371d79840b7df46b8b9c7b59e9e89d2d507642906960df29ae8
	sha256sums = 60db3a6cf5e4bd2e6cbaabcf3d53ebad81c6e4e16ced89414cabf5468fef6b6e
	sha256sums = a6608de01a12400a52d8b176995653586e59f229db8162075064a3c596f4d3b0

pkgname = rider-eap
