pkgbase = rider-eap
	pkgdesc = The world's most loved .NET and game dev IDE (EAP)
	pkgver = 2025.1+251.23774.212
	pkgrel = 1
	epoch = 1
	url = https://www.jetbrains.com/rider/nextversion/
	arch = x86_64
	license = custom:jetbrains
	depends = libdbusmenu-glib
	depends = jbr-runtime
	options = !strip
	source = jetbrains-rider-eap.desktop
	source = https://download.jetbrains.com/rider/JetBrains.Rider-2025.1-EAP9-251.23774.212.Checked.tar.gz
	source = https://download.jetbrains.com/rider/JetBrains.Rider-2025.1-EAP9-251.23774.212.Checked.tar.gz.sha256
	sha256sums = 805b823cd51887a0b7450f7308cce725424a7654418c3702e1801dd12854b263
	sha256sums = 60db3a6cf5e4bd2e6cbaabcf3d53ebad81c6e4e16ced89414cabf5468fef6b6e
	sha256sums = a6608de01a12400a52d8b176995653586e59f229db8162075064a3c596f4d3b0

pkgname = rider-eap
