[Desktop Entry]
Version=1.0
Type=Application
Name=Rider (EAP)
Icon=rider
Comment=The world's most loved .NET and game dev IDE (EAP)
Exec=/usr/bin/rider-eap %f
Terminal=false
StartupNotify=true
StartupWMClass=jetbrains-rider
Categories=Development;IDE;