pkgbase = datagrip
	pkgdesc = Your powerful cross-platform IDE for relational and NoSQL databases
	pkgver = 2025.3.3+253.29346.270
	pkgrel = 1
	epoch = 1
	url = https://www.jetbrains.com/datagrip
	arch = x86_64
	license = custom:jetbrains
	depends = libdbusmenu-glib
	depends = jbr-runtime
	options = !strip
	source = jetbrains-datagrip.desktop
	source = https://download.jetbrains.com/datagrip/datagrip-2025.3.3.tar.gz
	source = https://download.jetbrains.com/datagrip/datagrip-2025.3.3.tar.gz.sha256
	sha256sums = 2587382271da13e5ed3a83b2692f64630dedb998a574da2006e70d5e0804fb61
	sha256sums = 715d2c859c5ece9be596c33869424f2f0f8fcef4b1ab2e38179584d74540efae
	sha256sums = 2934105f9f7a03dbc28b14fc5f291892087d3b770442ee0131a798a627e04d0e

pkgname = datagrip
