pkgbase = datagrip
	pkgdesc = Your powerful cross-platform IDE for relational and NoSQL databases
	pkgver = 2026.1.3
	pkgrel = 1
	url = https://www.jetbrains.com/datagrip
	arch = x86_64
	license = custom:jetbrains
	depends = libdbusmenu-glib
	depends = jbr-runtime
	options = !strip
	source = jetbrains-datagrip.desktop
	source = https://download.jetbrains.com/datagrip/datagrip-2026.1.3.tar.gz
	source = https://download.jetbrains.com/datagrip/datagrip-2026.1.3.tar.gz.sha256
	sha256sums = 2587382271da13e5ed3a83b2692f64630dedb998a574da2006e70d5e0804fb61
	sha256sums = 5f1c2f5e269601f2b7d7c0636f328f2d50de30194eaf9045b83d9ba94f3ed76a
	sha256sums = a31ce8d0108c715a219e707eec26a6c1eb92e8d46d5f8d26d8713d0074916792

pkgname = datagrip
