pkgbase = lxgw-wenkai-screen
	pkgdesc = LXGW WenKai for Screen Reading.
	pkgver = 1.521
	pkgrel = 1
	url = https://github.com/lxgw/LxgwWenKai-Screen
	arch = any
	license = OFL-1.1-RFN
	source = LXGWWenKaiScreen-v1.521.ttf::https://github.com/lxgw/LxgwWenKai-Screen/releases/download/v1.521/LXGWWenKaiScreen.ttf
	source = LXGWWenKaiGBScreen-v1.521.ttf::https://github.com/lxgw/LxgwWenKai-Screen/releases/download/v1.521/LXGWWenKaiGBScreen.ttf
	source = LXGWWenKaiMonoScreen-v1.521.ttf::https://github.com/lxgw/LxgwWenKai-Screen/releases/download/v1.521/LXGWWenKaiMonoScreen.ttf
	source = LXGWWenKaiMonoGBScreen-v1.521.ttf::https://github.com/lxgw/LxgwWenKai-Screen/releases/download/v1.521/LXGWWenKaiMonoGBScreen.ttf
	sha256sums = eeda8c32620e98c1c91dd197add0f482582e0d326fc7ebca6273c375af4e7419
	sha256sums = 00a8da2e8d2e26eb23d9d15887d58fbcf66f60ec69eb92b312541fb4ba7da475
	sha256sums = 2c8b852c52721f063359a0454d6aaf43f1b841a070c56326887474ec0a82bcf1
	sha256sums = 61f581b3ed47f0d7537421635dc5bae645147ce0d752de7aed778d5418e502ca

pkgname = lxgw-wenkai-screen
