pkgbase = ttf-lxgw-wenkai-tc
	pkgdesc = The Traditional Chinese Edition of LXGW WenKai.
	pkgver = 1.522
	pkgrel = 1
	url = https://github.com/lxgw/LxgwWenKaiTC
	arch = any
	license = OFL-1.1-RFN
	source = https://github.com/lxgw/LxgwWenKaiTC/releases/download/v1.522/lxgw-wenkai-tc-v1.522.tar.gz
	sha256sums = 136675dc839a5b076c00f9c716c610d81fddddd8573f876ebdd6983bfe0f09f8

pkgname = ttf-lxgw-wenkai-tc
