pkgbase = phpstorm-eap
	pkgdesc = Code smarter with the PHP IDE (EAP)
	pkgver = 2025.1+251.23774.209
	pkgrel = 1
	epoch = 1
	url = https://www.jetbrains.com/phpstorm/nextversion/
	arch = x86_64
	license = custom:jetbrains
	depends = libdbusmenu-glib
	depends = jbr-runtime
	options = !strip
	source = jetbrains-phpstorm-eap.desktop
	source = https://download.jetbrains.com/webide/PhpStorm-251.23774.209.tar.gz
	source = https://download.jetbrains.com/webide/PhpStorm-251.23774.209.tar.gz.sha256
	sha256sums = 29532d84ff122cedb5852e31e2c0aaead69bceaf210aff15c82dad1c53f1f4c6
	sha256sums = 3baaf25b438c7584b9d2454895b65a25592e0f092559d896169fc6d31fd84925
	sha256sums = 6e78c59a0d9203de1f3cf0b49ae9b1d1e639d923975818ac4b6cadd4811e9652

pkgname = phpstorm-eap
