pkgbase = lxgw-bright
	pkgdesc = A merged font of Ysabeau and LXGW WenKai.
	pkgver = 5.527
	pkgrel = 1
	url = https://github.com/lxgw/LxgwBright
	arch = any
	license = OFL-1.1-RFN
	makedepends = 7zip
	noextract = LXGWBright-v5.527.7z
	noextract = LXGWBrightGB-v5.527.7z
	noextract = LXGWBrightTC-v5.527.7z
	source = LXGWBright-v5.527.7z::https://github.com/lxgw/LxgwBright/releases/download/v5.527/LXGWBright.7z
	source = LXGWBrightGB-v5.527.7z::https://github.com/lxgw/LxgwBright/releases/download/v5.527/LXGWBrightGB.7z
	source = LXGWBrightTC-v5.527.7z::https://github.com/lxgw/LxgwBright/releases/download/v5.527/LXGWBrightTC.7z
	sha256sums = 08e0458c2e38ba2014cff0d2527681fe569096ae102bc837f7d1cb8879f34ced
	sha256sums = 7e3a742824da8d76fc4a805e53651cb8fbf8fce899081efd15d21cf8247ef678
	sha256sums = 4112c0d503614639364e102136963063898e52bee9029dcf03f67f565ef6ce7a

pkgname = ttf-lxgw-bright

pkgname = ttf-lxgw-bright-gb

pkgname = ttf-lxgw-bright-tc
