pkgbase = ttf-lxgw-neo-zhisong
	pkgdesc = A Chinese serif font derived from IPAmj Mincho.
	pkgver = 1.032.1
	pkgrel = 1
	url = https://github.com/lxgw/LxgwNeoZhiSong
	arch = any
	license = OFL-1.1-RFN
	source = LxgwNeoZhiSong-v1.032.1.ttf::https://github.com/lxgw/LxgwNeoZhiSong/releases/download/v1.032.1/LxgwNeoZhiSong.ttf
	source = LxgwNeoZhiSongPlus-v1.032.1.ttf::https://github.com/lxgw/LxgwNeoZhiSong/releases/download/v1.032.1/LxgwNeoZhiSongPlus.ttf
	sha256sums = 03e3c17ebe8591de3f8738cebfce7d14bd03f8549743b500f60c794c1a7eb100
	sha256sums = 73a86220f84eff89f369a005bdc272c44e61bedf64333bacf6e4959c4602ad33

pkgname = ttf-lxgw-neo-zhisong
