pkgbase = ttf-lxgw-neo-xihei
	pkgdesc = A Chinese sans-serif font derived from IPAex Gothic.
	pkgver = 1.231
	pkgrel = 1
	url = https://github.com/lxgw/LxgwNeoXiHei
	arch = any
	license = OFL-1.1-RFN
	source = LXGWNeoXiHei-v1.231.ttf::https://github.com/lxgw/LxgwNeoXiHei/releases/download/v1.231/LXGWNeoXiHei.ttf
	source = LXGWNeoXiHeiPlus-v1.231.ttf::https://github.com/lxgw/LxgwNeoXiHei/releases/download/v1.231/LXGWNeoXiHeiPlus.ttf
	sha256sums = ccba6c9e6ec20adf831023795fa0da2726d59a6a0f9cb2d898dad4ebd72b4db6
	sha256sums = 96ff72c2d2a502fdebd9cb5cf030ee7600987321d7e393f33e573fe2e1c5742f

pkgname = ttf-lxgw-neo-xihei
