pkgbase = ttf-lxgw-neo-xihei
	pkgdesc = A Chinese sans-serif font derived from IPAex Gothic.
	pkgver = 1.237
	pkgrel = 1
	url = https://github.com/lxgw/LxgwNeoXiHei
	arch = any
	license = OFL-1.1-RFN
	source = LXGWNeoXiHei-v1.237.ttf::https://github.com/lxgw/LxgwNeoXiHei/releases/download/v1.237/LXGWNeoXiHei.ttf
	source = LXGWNeoXiHeiPlus-v1.237.ttf::https://github.com/lxgw/LxgwNeoXiHei/releases/download/v1.237/LXGWNeoXiHeiPlus.ttf
	sha256sums = c9e1c1b169fd5f264e691687c5bd67e90d5d3ede4edf9869ed3ceeecce897894
	sha256sums = 6cccd966a0bb38c060017b59490beb9c0d9604763dab4d7d1e4b4286b3dbfb1d

pkgname = ttf-lxgw-neo-xihei
