pkgbase = wenyuan-fonts
	pkgdesc = A more suitable open-source Chinese font collection for Simplified Chinese environment & TeX field.
	pkgver = 2026.5.22
	pkgrel = 1
	url = https://github.com/takushun-wu/WenYuanFonts
	arch = any
	license = OFL-1.1-RFN
	noextract = WenYuanSansSC-TTF-v2026.5.22.7z
	noextract = WenYuanSerifSC-TTF-v2026.5.22.7z
	noextract = WenYuanRoundedSC-TTF-v2026.5.22.7z
	source = WenYuanSansSC-TTF-v2026.5.22.7z::https://github.com/takushun-wu/WenYuanFonts/releases/download/2026.5.22/WenYuanSansSC-TTF.7z
	source = WenYuanSerifSC-TTF-v2026.5.22.7z::https://github.com/takushun-wu/WenYuanFonts/releases/download/2026.5.22/WenYuanSerifSC-TTF.7z
	source = WenYuanRoundedSC-TTF-v2026.5.22.7z::https://github.com/takushun-wu/WenYuanFonts/releases/download/2026.5.22/WenYuanRoundedSC-TTF.7z
	source = WenYuanSansSCVF-v2026.5.22.ttf::https://github.com/takushun-wu/WenYuanFonts/releases/download/2026.5.22/WenYuanSansSCVF.ttf
	source = WenYuanSerifSCVF-v2026.5.22.ttf::https://github.com/takushun-wu/WenYuanFonts/releases/download/2026.5.22/WenYuanSerifSCVF.ttf
	source = WenYuanRoundedSCVF-v2026.5.22.ttf::https://github.com/takushun-wu/WenYuanFonts/releases/download/2026.5.22/WenYuanRoundedSCVF.ttf
	sha256sums = 55f05ccf30ae2ce5455b8dd392155edd86e7c96ae0ae4b3dab8244a65fc62b23
	sha256sums = 85f5c36946c0e9f6d499107ebfa2aca34a6a72477ca6ad5b059f78874f85e80e
	sha256sums = c059aa946ca2131ce7a3856d3a69560813e35118b87feac50222bf6d39e4bf5b
	sha256sums = 9d8af8a583905a9e505975e6722f48617ee0212e9ef9b234b0de0a48e0a6ff5a
	sha256sums = afc01be5828dc7bb160637f190f5609c6d75751d3b44a0c392a797ca4e6dd22f
	sha256sums = 3b1d6037edf3548429f9db48ae3c26f71952d99139227c73decd90539da03319

pkgname = ttf-wenyuan-sans

pkgname = ttf-wenyuan-serif

pkgname = ttf-wenyuan-rounded
