pkgbase = maplemono
	pkgdesc = Maple Mono: Open source monospace font with round corner, ligatures and Nerd-Font for IDE and terminal, fine-grained customization options.
	pkgver = 7.5
	pkgrel = 1
	url = https://github.com/subframe7536/maple-font
	arch = any
	license = OFL-1.1-RFN
	noextract = MapleMono-TTF-v7.5.zip
	noextract = MapleMono-CN-v7.5.zip
	noextract = MapleMono-NF-v7.5.zip
	noextract = MapleMono-NF-CN-v7.5.zip
	noextract = MapleMonoNL-TTF-v7.5.zip
	noextract = MapleMonoNL-CN-v7.5.zip
	noextract = MapleMonoNL-NF-v7.5.zip
	noextract = MapleMonoNL-NF-CN-v7.5.zip
	source = MapleMono-TTF-v7.5.zip::https://github.com/subframe7536/maple-font/releases/download/v7.5/MapleMono-TTF.zip
	source = MapleMono-CN-v7.5.zip::https://github.com/subframe7536/maple-font/releases/download/v7.5/MapleMono-CN.zip
	source = MapleMono-NF-v7.5.zip::https://github.com/subframe7536/maple-font/releases/download/v7.5/MapleMono-NF.zip
	source = MapleMono-NF-CN-v7.5.zip::https://github.com/subframe7536/maple-font/releases/download/v7.5/MapleMono-NF-CN.zip
	source = MapleMonoNL-TTF-v7.5.zip::https://github.com/subframe7536/maple-font/releases/download/v7.5/MapleMonoNL-TTF.zip
	source = MapleMonoNL-CN-v7.5.zip::https://github.com/subframe7536/maple-font/releases/download/v7.5/MapleMonoNL-CN.zip
	source = MapleMonoNL-NF-v7.5.zip::https://github.com/subframe7536/maple-font/releases/download/v7.5/MapleMonoNL-NF.zip
	source = MapleMonoNL-NF-CN-v7.5.zip::https://github.com/subframe7536/maple-font/releases/download/v7.5/MapleMonoNL-NF-CN.zip
	sha256sums = 495b9a8691f4a041dd378a318b6d57f819ac86751d3f599c6937a38bce6fdcbc
	sha256sums = 02ef49fed39a67fd6306ef9828ac915b3aa14b94a4cefb5bbabf4702df93f537
	sha256sums = 51da1afc4ae7d2803bf38849c720e9a11c2c9f4accdcdef9eb9224bdb098628f
	sha256sums = 206e1064d5611ffb18f8950088b54ffef4e8d53858c28205bd7d5c02b6180ba3
	sha256sums = 755c5f8d55ee99ec735adf571fd5cce5649a46653e2fcd707e219b4dff24fcee
	sha256sums = b893777fa3539eae82171c9d3b35112195fecf734f7cbde969c0df3f011da449
	sha256sums = c63a1c62da9d94c0d75e70b1795e1f5f7b5df1e015e7be6151e3eac57dcbf4b1
	sha256sums = 63bc152d4a6caf95640032577dd67e7fcf0c29036c107f85ecea3750abdbe8ea

pkgname = ttf-maplemono

pkgname = ttf-maplemono-cn

pkgname = ttf-maplemono-nf

pkgname = ttf-maplemono-nf-cn
