pkgbase = maplemono
	pkgdesc = Maple Mono: Open source monospace font with round corner, ligatures and Nerd-Font for IDE and terminal, fine-grained customization options.
	pkgver = 7.6
	pkgrel = 1
	url = https://github.com/subframe7536/maple-font
	arch = any
	license = OFL-1.1-RFN
	noextract = MapleMono-TTF-v7.6.zip
	noextract = MapleMono-CN-v7.6.zip
	noextract = MapleMono-NF-v7.6.zip
	noextract = MapleMono-NF-CN-v7.6.zip
	noextract = MapleMonoNL-TTF-v7.6.zip
	noextract = MapleMonoNL-CN-v7.6.zip
	noextract = MapleMonoNL-NF-v7.6.zip
	noextract = MapleMonoNL-NF-CN-v7.6.zip
	source = MapleMono-TTF-v7.6.zip::https://github.com/subframe7536/maple-font/releases/download/v7.6/MapleMono-TTF.zip
	source = MapleMono-CN-v7.6.zip::https://github.com/subframe7536/maple-font/releases/download/v7.6/MapleMono-CN.zip
	source = MapleMono-NF-v7.6.zip::https://github.com/subframe7536/maple-font/releases/download/v7.6/MapleMono-NF.zip
	source = MapleMono-NF-CN-v7.6.zip::https://github.com/subframe7536/maple-font/releases/download/v7.6/MapleMono-NF-CN.zip
	source = MapleMonoNL-TTF-v7.6.zip::https://github.com/subframe7536/maple-font/releases/download/v7.6/MapleMonoNL-TTF.zip
	source = MapleMonoNL-CN-v7.6.zip::https://github.com/subframe7536/maple-font/releases/download/v7.6/MapleMonoNL-CN.zip
	source = MapleMonoNL-NF-v7.6.zip::https://github.com/subframe7536/maple-font/releases/download/v7.6/MapleMonoNL-NF.zip
	source = MapleMonoNL-NF-CN-v7.6.zip::https://github.com/subframe7536/maple-font/releases/download/v7.6/MapleMonoNL-NF-CN.zip
	sha256sums = 9f8922bcf45c23cd23123edd457dff48ac961e20628975e86388c457b7824922
	sha256sums = 045f153fab991e0caecbf5f48a27b8de3749eb3c895025c79731ede9f38f1044
	sha256sums = 21ffe4280162c8eb39367c57783386b0b49946c09d8439a03ad3f44ae37dea98
	sha256sums = ab7c08bd2b3384e2f2664aaf82f8a9436784bc6f4add27f6a3986ba474b6bc3f
	sha256sums = 3cce43cb5954e4c5f99e29711c0df8c798c1358a789bc0649c9fda1eba6bc696
	sha256sums = aece5670e051f52615b0216883a098d3846cb527d999bc28e07bb0a5e1b0fd5f
	sha256sums = 1d90720cb8469093c357bb742d7b0834b0cc60ab28d7d6c90fbd8c89653ff0de
	sha256sums = 683badb8495a78eadc2818cdc62d3de9213296fb121d57b9166723df2a13d7d3

pkgname = ttf-maplemono

pkgname = ttf-maplemono-cn

pkgname = ttf-maplemono-nf

pkgname = ttf-maplemono-nf-cn
