pkgbase = ttf-plan-gothic
	pkgdesc = 基于思源黑体，并以中国大陆字形为标准的对中日韩越统一表意文字扩展区进行字形补充的项目。
	pkgver = 2.9.5792
	pkgrel = 1
	url = https://github.com/Fitzgerald-Porthmouth-Koenigsegg/Plangothic_Project
	arch = any
	license = OFL-1.1-RFN
	makedepends = 7zip
	noextract = Plangothic-OTF-V2.9.5792.7z
	source = https://github.com/Fitzgerald-Porthmouth-Koenigsegg/Plangothic_Project/releases/download/V2.9.5792/Plangothic-OTF-V2.9.5792.7z
	sha256sums = dff4ca9bbb642c4cace1ed25bf224463bd6dccf1b197bcc5aa0fb15cac60e776

pkgname = ttf-plan-gothic
