pkgbase = rubymine-eap
	pkgdesc = Code Smarter with Ruby on Rails IDE (EAP)
	pkgver = 2025.1+251.23774.208
	pkgrel = 1
	epoch = 1
	url = https://www.jetbrains.com/ruby/nextversion/
	arch = x86_64
	license = custom:jetbrains
	depends = libdbusmenu-glib
	depends = jbr-runtime
	options = !strip
	source = jetbrains-rubymine-eap.desktop
	source = https://download.jetbrains.com/ruby/RubyMine-251.23774.208.tar.gz
	source = https://download.jetbrains.com/ruby/RubyMine-251.23774.208.tar.gz.sha256
	sha256sums = d0b99896bba03ccfa05b35cde542321241d93f17246190a6394159019690dbe3
	sha256sums = d738ada1ed93e194e76cd4bcdd18316ac0fce7ee3b65a43e64779af7b82f00cd
	sha256sums = 439c2dbae1194af9715fdbe7a02007da56dab3503b01deacbe1df9ded2dcfb44

pkgname = rubymine-eap
