[Desktop Entry]
Version=1.0
Type=Application
Name=RubyMine (EAP)
Icon=rubymine
Comment=Code Smarter with Ruby on Rails IDE (EAP)
Exec=/usr/bin/rubymine-eap %f
Terminal=false
StartupNotify=true
StartupWMClass=jetbrains-rubymine
Categories=Development;IDE;