pkgbase = ttf-maplemono-normal
	pkgdesc = Maple Mono: Open source monospace font with round corner, ligatures and Nerd-Font for IDE and terminal, fine-grained customization options.
	pkgver = 7.9.1
	pkgrel = 1
	url = https://github.com/Carlson24/maple-font-custom
	arch = any
	license = OFL-1.1-RFN
	noextract = MapleMonoNormalNR-TTF-v7.9.1.zip
	noextract = MapleMonoNormalNR-CN-v7.9.1.zip
	noextract = MapleMonoNormalNR-NF-v7.9.1.zip
	noextract = MapleMonoNormalNR-NF-CN-v7.9.1.zip
	noextract = MapleMonoNormalNLNR-TTF-v7.9.1.zip
	noextract = MapleMonoNormalNLNR-CN-v7.9.1.zip
	noextract = MapleMonoNormalNLNR-NF-v7.9.1.zip
	noextract = MapleMonoNormalNLNR-NF-CN-v7.9.1.zip
	source = MapleMonoNormalNR-TTF-v7.9.1.zip::https://github.com/Carlson24/maple-font-custom/releases/download/v7.9.1/MapleMonoNormalNR-TTF.zip
	source = MapleMonoNormalNR-CN-v7.9.1.zip::https://github.com/Carlson24/maple-font-custom/releases/download/v7.9.1/MapleMonoNormalNR-CN.zip
	source = MapleMonoNormalNR-NF-v7.9.1.zip::https://github.com/Carlson24/maple-font-custom/releases/download/v7.9.1/MapleMonoNormalNR-NF.zip
	source = MapleMonoNormalNR-NF-CN-v7.9.1.zip::https://github.com/Carlson24/maple-font-custom/releases/download/v7.9.1/MapleMonoNormalNR-NF-CN.zip
	source = MapleMonoNormalNLNR-TTF-v7.9.1.zip::https://github.com/Carlson24/maple-font-custom/releases/download/v7.9.1/MapleMonoNormalNLNR-TTF.zip
	source = MapleMonoNormalNLNR-CN-v7.9.1.zip::https://github.com/Carlson24/maple-font-custom/releases/download/v7.9.1/MapleMonoNormalNLNR-CN.zip
	source = MapleMonoNormalNLNR-NF-v7.9.1.zip::https://github.com/Carlson24/maple-font-custom/releases/download/v7.9.1/MapleMonoNormalNLNR-NF.zip
	source = MapleMonoNormalNLNR-NF-CN-v7.9.1.zip::https://github.com/Carlson24/maple-font-custom/releases/download/v7.9.1/MapleMonoNormalNLNR-NF-CN.zip
	sha256sums = ce7d235fa3441ff273984f52f5f0d04c6155269028d45f62766e7b4fdb8db6bc
	sha256sums = 96464ba8b0226b0b20da6ea8ec5cccfc760f1950f4c4453b510921be65c254f2
	sha256sums = c7f1a23debc4de29f24ee8f3caec3f40b878b30d2a7fd2d6841b0507e82b1c70
	sha256sums = b07e7d7d3f7e620c6f9635b3e6b967cde46dea42c5dca35c5586a8b3fd2f7f97
	sha256sums = 75a753fdebc7faae83bbf37a7ae8b4015dd2b485b5c728a9e356759ddd7ae807
	sha256sums = ed9b613706936f5365eb990f558dd1faf57cbc9fa4d85e13d79ccf8a7ff00e8d
	sha256sums = aa182d3ad29fa79ebae911cd2e087245b52ca51176745677e6dff999becc1e56
	sha256sums = b32f99acbd9f0c8e01f8e03aee61b65fd5d12b516387242fed62b567a4b58456

pkgname = ttf-maplemono-normal

pkgname = ttf-maplemono-normal-cn

pkgname = ttf-maplemono-normal-nf

pkgname = ttf-maplemono-normal-nf-cn
