pkgbase = maplemono-normal
	pkgdesc = Maple Mono: Open source monospace font with round corner, ligatures and Nerd-Font for IDE and terminal, fine-grained customization options.
	pkgver = 7.6
	pkgrel = 1
	url = https://github.com/subframe7536/maple-font
	arch = any
	license = OFL-1.1-RFN
	noextract = MapleMonoNormal-TTF-v7.6.zip
	noextract = MapleMonoNormal-CN-v7.6.zip
	noextract = MapleMonoNormal-NF-v7.6.zip
	noextract = MapleMonoNormal-NF-CN-v7.6.zip
	noextract = MapleMonoNormalNL-TTF-v7.6.zip
	noextract = MapleMonoNormalNL-CN-v7.6.zip
	noextract = MapleMonoNormalNL-NF-v7.6.zip
	noextract = MapleMonoNormalNL-NF-CN-v7.6.zip
	source = MapleMonoNormal-TTF-v7.6.zip::https://github.com/subframe7536/maple-font/releases/download/v7.6/MapleMonoNormal-TTF.zip
	source = MapleMonoNormal-CN-v7.6.zip::https://github.com/subframe7536/maple-font/releases/download/v7.6/MapleMonoNormal-CN.zip
	source = MapleMonoNormal-NF-v7.6.zip::https://github.com/subframe7536/maple-font/releases/download/v7.6/MapleMonoNormal-NF.zip
	source = MapleMonoNormal-NF-CN-v7.6.zip::https://github.com/subframe7536/maple-font/releases/download/v7.6/MapleMonoNormal-NF-CN.zip
	source = MapleMonoNormalNL-TTF-v7.6.zip::https://github.com/subframe7536/maple-font/releases/download/v7.6/MapleMonoNormalNL-TTF.zip
	source = MapleMonoNormalNL-CN-v7.6.zip::https://github.com/subframe7536/maple-font/releases/download/v7.6/MapleMonoNormalNL-CN.zip
	source = MapleMonoNormalNL-NF-v7.6.zip::https://github.com/subframe7536/maple-font/releases/download/v7.6/MapleMonoNormalNL-NF.zip
	source = MapleMonoNormalNL-NF-CN-v7.6.zip::https://github.com/subframe7536/maple-font/releases/download/v7.6/MapleMonoNormalNL-NF-CN.zip
	sha256sums = 1d1cb45b7b2b1b33b9e3f571164fbbaba9b48971477228b8efe4dcc73d919332
	sha256sums = 16666dd3a6604564d17a618ccf19108d4f41dba15242c0055cb73c6ff1efd4aa
	sha256sums = c5602155097dc6c2974c958d09f3c1515ea07478667fd59452b0189367ab4ccd
	sha256sums = 9d710d8b30496b00ff520ad850d3fd994f26da6b7d287d92cbabd079714e98d2
	sha256sums = c9d16e60480af28e7bb3aee52b5640c704c1a6e33b7c714665a99087b62665c2
	sha256sums = ea89032ccc2d5e02221df49aa7028f93b64a492c464c11c5ce0e524e68133bd4
	sha256sums = c9df075129ac4ead9175335a2b482487c5a93dfb9ff77bcc503f5264e538d79b
	sha256sums = cf5c506bcf5ec793387ce9e5df4032d0ef9e569b8fe7ae383a9455c04e2cf2aa

pkgname = ttf-maplemono-normal

pkgname = ttf-maplemono-normal-cn

pkgname = ttf-maplemono-normal-nf

pkgname = ttf-maplemono-normal-nf-cn
