pkgbase = maplemono-normal
	pkgdesc = Maple Mono: Open source monospace font with round corner, ligatures and Nerd-Font for IDE and terminal, fine-grained customization options.
	pkgver = 7.5
	pkgrel = 1
	url = https://github.com/subframe7536/maple-font
	arch = any
	license = OFL-1.1-RFN
	noextract = MapleMonoNormal-TTF-v7.5.zip
	noextract = MapleMonoNormal-CN-v7.5.zip
	noextract = MapleMonoNormal-NF-v7.5.zip
	noextract = MapleMonoNormal-NF-CN-v7.5.zip
	noextract = MapleMonoNormalNL-TTF-v7.5.zip
	noextract = MapleMonoNormalNL-CN-v7.5.zip
	noextract = MapleMonoNormalNL-NF-v7.5.zip
	noextract = MapleMonoNormalNL-NF-CN-v7.5.zip
	source = MapleMonoNormal-TTF-v7.5.zip::https://github.com/subframe7536/maple-font/releases/download/v7.5/MapleMonoNormal-TTF.zip
	source = MapleMonoNormal-CN-v7.5.zip::https://github.com/subframe7536/maple-font/releases/download/v7.5/MapleMonoNormal-CN.zip
	source = MapleMonoNormal-NF-v7.5.zip::https://github.com/subframe7536/maple-font/releases/download/v7.5/MapleMonoNormal-NF.zip
	source = MapleMonoNormal-NF-CN-v7.5.zip::https://github.com/subframe7536/maple-font/releases/download/v7.5/MapleMonoNormal-NF-CN.zip
	source = MapleMonoNormalNL-TTF-v7.5.zip::https://github.com/subframe7536/maple-font/releases/download/v7.5/MapleMonoNormalNL-TTF.zip
	source = MapleMonoNormalNL-CN-v7.5.zip::https://github.com/subframe7536/maple-font/releases/download/v7.5/MapleMonoNormalNL-CN.zip
	source = MapleMonoNormalNL-NF-v7.5.zip::https://github.com/subframe7536/maple-font/releases/download/v7.5/MapleMonoNormalNL-NF.zip
	source = MapleMonoNormalNL-NF-CN-v7.5.zip::https://github.com/subframe7536/maple-font/releases/download/v7.5/MapleMonoNormalNL-NF-CN.zip
	sha256sums = 9b7d07b5645a82ae4cea1797a1d2530ab4fdfb82b3fa6914bfa33ac70f31494d
	sha256sums = 000e6b476a8677665728a35a79e43869454cfbdc576e263f1058bd620a81317d
	sha256sums = d2a358e43c24450e40a17a075770fcbc73a678db93b6cfa5a3f9ea047b1e2a7c
	sha256sums = 947b79da06fcdaf6c14fcee346799f8ba99a618e220961c42ebb2191f30c8005
	sha256sums = c41ef7fcc1e2284c67f861c87b38e4da6b1d93dc7e34850cf6f26b2678636056
	sha256sums = 93811b2062d4968f3a75f351aba56cf952a7ed8cb168f8cfa678f3e67646c36f
	sha256sums = e89ac787b6521a1ba39dfa0afa535040af22e4cb2a5c2728e96a7e12531a4a0c
	sha256sums = bc88f5f9428828095e6c05bc4e98fbf87ab448f88283c7716b63528b0e014405

pkgname = ttf-maplemono-normal

pkgname = ttf-maplemono-normal-cn

pkgname = ttf-maplemono-normal-nf

pkgname = ttf-maplemono-normal-nf-cn
