pkgbase = phpstorm
	pkgdesc = Empowering PHP Developers. Code smarter with the PHP IDE
	pkgver = 2025.2.1+252.25557.128
	pkgrel = 1
	epoch = 1
	url = https://www.jetbrains.com/phpstorm
	arch = x86_64
	license = custom:jetbrains
	depends = libdbusmenu-glib
	depends = jbr-runtime
	options = !strip
	source = jetbrains-phpstorm.desktop
	source = https://download.jetbrains.com/webide/PhpStorm-2025.2.1.tar.gz
	source = https://download.jetbrains.com/webide/PhpStorm-2025.2.1.tar.gz.sha256
	sha256sums = c823ed26d67670a0bb673dc29f613630087dcd48a3b6f7d5d4b48299bc550238
	sha256sums = 0cc9235210dc09fb54602f176de881c4f2b6852d7a5f2ae9f7750d83a3ffa8f6
	sha256sums = 5cecaf4625a4937efbd9b864e53b5f91320bcf98ed08d4f60c08952ff107a499

pkgname = phpstorm
