pkgbase = phpstorm
	pkgdesc = Empowering PHP Developers. Code smarter with the PHP IDE
	pkgver = 2026.1.2
	pkgrel = 1
	url = https://www.jetbrains.com/phpstorm
	arch = x86_64
	license = custom:jetbrains
	depends = libdbusmenu-glib
	depends = jbr-runtime
	options = !strip
	source = jetbrains-phpstorm.desktop
	source = https://download.jetbrains.com/webide/PhpStorm-2026.1.2.tar.gz
	source = https://download.jetbrains.com/webide/PhpStorm-2026.1.2.tar.gz.sha256
	sha256sums = c823ed26d67670a0bb673dc29f613630087dcd48a3b6f7d5d4b48299bc550238
	sha256sums = 55b5ec7ca6a1a755f8030002d74560844f999314e1a2f9d81c7632be4393b457
	sha256sums = 7f990e504c092845d816d9fb3c46e0265db49ad233005f294613a98f4cc46dd1

pkgname = phpstorm
