pkgbase = ttf-wenjin-mincho
	pkgdesc = A large character set fonts in Songti(Mincho) style.
	pkgver = 2.011
	pkgrel = 1
	url = https://github.com/takushun-wu/WenJinMincho
	arch = any
	license = OFL-1.1-RFN
	makedepends = 7zip
	noextract = WenJinMincho-TTF-v2.011.7z
	source = WenJinMincho-TTF-v2.011.7z::https://github.com/takushun-wu/WenJinMincho/releases/download/v2.011/WenJinMincho-TTF.7z
	sha256sums = ef12220d913f3873cae00972b4724c19d83cce74693e75adfc836c57a21add9c

pkgname = ttf-wenjin-mincho
