pkgbase = ttf-wenjin-mincho
	pkgdesc = A large character set fonts in Songti(Mincho) style.
	pkgver = 1.020
	pkgrel = 1
	url = https://github.com/takushun-wu/WenJinMincho
	arch = any
	license = OFL-1.1-RFN
	makedepends = 7zip
	noextract = WenJinMincho-TTF-v1.020.7z
	noextract = WenJinMinchoC-TTF-v1.020.7z
	source = WenJinMincho-TTF-v1.020.7z::https://github.com/takushun-wu/WenJinMincho/releases/download/v1.020/WenJinMincho-TTF.7z
	source = WenJinMinchoC-TTF-v1.020.7z::https://github.com/takushun-wu/WenJinMincho/releases/download/v1.020/WenJinMinchoC-TTF.7z
	sha256sums = 50806b92ec0e86087b71c3cb7317e44c9f93c6ac1320b1ca35d7c8ea9fbad3f3
	sha256sums = 7eb0cbd1f3fe9b08421751ca67cd257fc8f392af8d174fe550fd8ae2e8e0b3f4

pkgname = ttf-wenjin-mincho
