pkgbase = ttf-wenjin-mincho
	pkgdesc = A large character set fonts in Songti(Mincho) style.
	pkgver = 2.010
	pkgrel = 1
	url = https://github.com/takushun-wu/WenJinMincho
	arch = any
	license = OFL-1.1-RFN
	makedepends = 7zip
	noextract = WenJinMincho-TTF-v2.010.7z
	source = WenJinMincho-TTF-v2.010.7z::https://github.com/takushun-wu/WenJinMincho/releases/download/v2.010/WenJinMincho-TTF.7z
	sha256sums = 23d9a874bd7740eff67da7eee1412c7cb0ed5ddbcc2f65eef0bb0f3c55b07833

pkgname = ttf-wenjin-mincho
