pkgbase = webstorm
	pkgdesc = The JavaScript and TypeScript IDE. Make development more productive and enjoyable.
	pkgver = 2025.3+253.28294.332
	pkgrel = 1
	epoch = 1
	url = https://www.jetbrains.com/rust
	arch = x86_64
	license = custom:jetbrains
	depends = libdbusmenu-glib
	depends = jbr-runtime
	options = !strip
	source = jetbrains-webstorm.desktop
	source = https://download.jetbrains.com/webstorm/WebStorm-2025.3.tar.gz
	source = https://download.jetbrains.com/webstorm/WebStorm-2025.3.tar.gz.sha256
	sha256sums = 251d1d5274d8e350b94ddadce4cfd2f40b8ba7833910cf8da45d7b63c419cfec
	sha256sums = c95584e810059c15d8e42f6e0aa09a9c19fa7386bdc2fe50dd6ff27d4274d7ef
	sha256sums = 0e13b421eb7e583bc4ef9f4c9f0cab8bebb6fd65ce1789b6d01fbc34f0fee77c

pkgname = webstorm
