pkgbase = webstorm
	pkgdesc = The JavaScript and TypeScript IDE. Make development more productive and enjoyable.
	pkgver = 2025.3.1.1
	pkgrel = 1
	url = https://www.jetbrains.com/rust
	arch = x86_64
	license = custom:jetbrains
	depends = libdbusmenu-glib
	depends = jbr-runtime
	options = !strip
	source = jetbrains-webstorm.desktop
	source = https://download.jetbrains.com/webstorm/WebStorm-2025.3.1.1.tar.gz
	source = https://download.jetbrains.com/webstorm/WebStorm-2025.3.1.1.tar.gz.sha256
	sha256sums = 251d1d5274d8e350b94ddadce4cfd2f40b8ba7833910cf8da45d7b63c419cfec
	sha256sums = d551411a3a4a829b1e14c874e9176961b60b35e84cd6c2c99676ab8594a19953
	sha256sums = 20db77dcf9f74656354ccb9478d718313aac09890059e3d0536b7aa057cb6139

pkgname = webstorm
