pkgbase = webstorm
	pkgdesc = The JavaScript and TypeScript IDE. Make development more productive and enjoyable.
	pkgver = 2025.1
	pkgrel = 1
	epoch = 1
	url = https://www.jetbrains.com/rust
	arch = x86_64
	license = custom:jetbrains
	depends = libdbusmenu-glib
	depends = jbr-runtime
	depends = jetbra
	options = !strip
	source = jetbrains-webstorm.desktop
	source = https://download.jetbrains.com/webstorm/WebStorm-2025.1.tar.gz
	source = https://download.jetbrains.com/webstorm/WebStorm-2025.1.tar.gz.sha256
	sha256sums = 251d1d5274d8e350b94ddadce4cfd2f40b8ba7833910cf8da45d7b63c419cfec
	sha256sums = f181eb1348c04a60f860fd9ea9616261c6c012a7916e76380652d129e87503ea
	sha256sums = facb4ae0c347667deac1221dffab60d08e94fcc26b00931cc0d7dc25d4bb471e

pkgname = webstorm
