[Desktop Entry]
Version=1.0
Type=Application
Name=WebStorm
Icon=webstorm
Comment=The JavaScript and TypeScript IDE. Make development more productive and enjoyable.
Exec=/usr/bin/webstorm %f
Terminal=false
StartupNotify=true
StartupWMClass=jetbrains-webstorm
Categories=Development;IDE;