pkgbase = jetbra
	pkgdesc = An activation tool for jetbrains family products, including plugins
	pkgver = 13
	pkgrel = 2
	epoch = 1
	url = https://github.com/novitechie/jetbra
	arch = x86_64
	license = MIT
	depends = unzip
	noextract = jetbra-all.zip
	options = !strip
	source = https://github.com/novitechie/jetbra/releases/download/Jetbra/jetbra-all.zip
	source = jetbrains-jebra-patch
	source = jetbrains-jebra-patch.hook
	sha256sums = fef67d9cf64524e9d83582a243003aaca7b593b9100a2c515430847a7289bec0
	sha256sums = d36b8353e0802dc3b150270acd1ef3b0d00212930b1cd6ca31bb0da5ac86d4cb
	sha256sums = 93c785cb8c4cc7e80028c7469f801e7973478c10d05b32d9409109382d70c2b8

pkgname = jetbra
