pkgbase = openjdk-liberica-full-bin
	pkgdesc = Liberica 26 includes LibericaFX, which is based on OpenJFX 26 and Minimal VM, where suitable.
	pkgver = 26+26.0.1+10
	pkgrel = 2
	epoch = 1
	url = https://bell-sw.com/pages/downloads
	install = install_openjdk-liberica-full-bin.sh
	arch = x86_64
	license = custom
	depends = java-environment-common>=3
	depends = java-runtime-common>=3
	depends = ca-certificates-utils
	provides = java-environment=26
	provides = java-environment-openjdk=26
	provides = java-runtime=26
	provides = java-runtime-openjdk=26
	provides = java-runtime-headless=26
	provides = java-runtime-headless-openjdk=26
	provides = jre-openjdk=26
	provides = jdk-openjdk=26
	provides = jre-openjdk-headless=26
	provides = java-openjfx=26
	provides = java26-environment=26
	provides = java26-environment-openjdk=26
	provides = java26-runtime=26
	provides = java26-runtime-openjdk=26
	provides = java26-runtime-headless=26
	provides = java26-runtime-headless-openjdk=26
	provides = jre26-openjdk=26
	provides = jdk26-openjdk=26
	provides = jre26-openjdk-headless=26
	provides = java26-openjfx=26
	source = https://download.bell-sw.com/java/26.0.1+10/bellsoft-jdk26.0.1+10-linux-amd64-full.tar.gz
	sha1sums = 8b53c0f3f763d27c5f34dc3e984c3d0204745c23

pkgname = openjdk-liberica-full-bin
