pkgbase = rustrover
	pkgdesc = A powerhouse IDE for Rust developers
	pkgver = 2025.2.5+252.28238.28
	pkgrel = 1
	epoch = 1
	url = https://www.jetbrains.com/rust
	arch = x86_64
	license = custom:jetbrains
	depends = libdbusmenu-glib
	depends = jbr-runtime
	options = !strip
	source = jetbrains-rustrover.desktop
	source = https://download.jetbrains.com/rustrover/RustRover-2025.2.5.tar.gz
	source = https://download.jetbrains.com/rustrover/RustRover-2025.2.5.tar.gz.sha256
	sha256sums = 65603213e1a492f0d6cf0a067ee13d2c4a627275ee85bf71a1740039484fce0e
	sha256sums = 01ec30397ec61ac6dcb66cb037ea69b2be8a7e079020e50513f2e1e102ccfc84
	sha256sums = d845c6dff0ec5c9bcdf96e4d2b111e707bf74dae1b555c2fce1a11b55ca60195

pkgname = rustrover
