pkgbase = webstorm-eap
	pkgdesc = WebStorm (EAP)
	pkgver = 2025.1+251.23774.210
	pkgrel = 2
	url = https://www.jetbrains.com/rust/nextversion/
	arch = x86_64
	license = custom:jetbrains
	depends = libdbusmenu-glib
	depends = jbr-runtime
	options = !strip
	backup = opt/jetbrains/webstorm-eap/bin/webstorm64.vmoptions
	backup = opt/jetbrains/webstorm-eap/bin/idea.properties
	source = jetbrains-webstorm-eap.desktop
	source = https://download.jetbrains.com/webstorm/WebStorm-251.23774.210.tar.gz
	source = https://download.jetbrains.com/webstorm/WebStorm-251.23774.210.tar.gz.sha256
	sha256sums = a7b08de660c3b654b3154065c61b5c51e058f4cef8761d17af1b47c4d0fb7220
	sha256sums = 1a09196e5c8e6b54dde0acdc05e40d2e784b249e081d6ca2acf26f59894ed0bb
	sha256sums = cbd2e22211a9d33800565bcd94515d9e94e24155ad8c5e95832f9783d9cba44f

pkgname = webstorm-eap
