[Desktop Entry]
Version=1.0
Type=Application
Name=WebStorm (EAP)
Icon=webstorm
Comment=WebStorm (EAP)
Exec=/usr/bin/webstorm-eap %f
Terminal=false
StartupNotify=true
StartupWMClass=jetbrains-webstorm
Categories=Development;IDE;