pkgbase = rider
	pkgdesc = The world's most loved .NET and game dev IDE
	pkgver = 2025.2.1+252.25557.182
	pkgrel = 1
	epoch = 1
	url = https://www.jetbrains.com/rider
	arch = x86_64
	license = custom:jetbrains
	depends = libdbusmenu-glib
	depends = jbr-runtime
	options = !strip
	source = jetbrains-rider.desktop
	source = https://download.jetbrains.com/rider/JetBrains.Rider-2025.2.1.tar.gz
	source = https://download.jetbrains.com/rider/JetBrains.Rider-2025.2.1.tar.gz.sha256
	sha256sums = 0860363846e65d4d13abaeef03fcac0041c5ed4e33a866231af7d5f54facf006
	sha256sums = bdccdc837ab6683082bef1ab76b7699ee3ed44ec6fe037db5be7161837ca0701
	sha256sums = a7656797de54e181b3452cea1ee6f96771cebfa500b7cf33cba2da4cb07b1eda

pkgname = rider
