[Desktop Entry]
Version=1.0
Type=Application
Name=Rider
Icon=rider
Comment=The world's most loved .NET and game dev IDE
Exec=/usr/bin/rider %f
Terminal=false
StartupNotify=true
StartupWMClass=jetbrains-rider
Categories=Development;IDE;