pkgbase = openjdk-zulu21-ca-fx-bin
	pkgdesc = Azul Zulu Builds of OpenJDK 21 With OpenJFX are open source, TCK-tested and certified builds of OpenJDK 21.
	pkgver = 21+21.44.17+21.0.8
	pkgrel = 1
	epoch = 1
	url = https://www.azul.com/downloads
	install = install_openjdk-zulu21-ca-fx-bin.sh
	arch = x86_64
	license = custom
	depends = java-environment-common>=3
	depends = java-runtime-common>=3
	depends = ca-certificates-utils
	provides = java-environment=21
	provides = java-environment-openjdk=21
	provides = java-runtime=21
	provides = java-runtime-openjdk=21
	provides = java-runtime-headless=21
	provides = java-runtime-headless-openjdk=21
	provides = jre-openjdk=21
	provides = jdk-openjdk=21
	provides = jre-openjdk-headless=21
	provides = java-openjfx=21
	provides = java21-environment=21
	provides = java21-environment-openjdk=21
	provides = java21-runtime=21
	provides = java21-runtime-openjdk=21
	provides = java21-runtime-headless=21
	provides = java21-runtime-headless-openjdk=21
	provides = jre21-openjdk=21
	provides = jdk21-openjdk=21
	provides = jre21-openjdk-headless=21
	provides = java21-openjfx=21
	source = https://cdn.azul.com/zulu/bin/zulu21.44.17-ca-fx-jdk21.0.8-linux_x64.tar.gz
	b2sums = ab43cd11ba59658ba2710fd8bc28d875b376a895799707f3d9915cf6cce0d45a526c566e1fc535ce5cf695218f2784f00117efab133879d03d09215ff5ade7d3

pkgname = openjdk-zulu21-ca-fx-bin
