pkgbase = dataspell
	pkgdesc = Your powerful cross-platform IDE for relational and NoSQL databases
	pkgver = 2026.1.1
	pkgrel = 1
	url = https://www.jetbrains.com/dataspell
	arch = x86_64
	license = custom:jetbrains
	depends = libdbusmenu-glib
	depends = jbr-runtime
	options = !strip
	source = jetbrains-dataspell.desktop
	source = https://download.jetbrains.com/python/dataspell-2026.1.1.tar.gz
	source = https://download.jetbrains.com/python/dataspell-2026.1.1.tar.gz.sha256
	sha256sums = 239f9c4380cefa84652ec7761af8a011455aa6d558f4e42b47f010c47d8a5321
	sha256sums = d73edf6923b65206ff70dfc8854bce693f671728e2d8bef7dd8eaf2a9c1198e8
	sha256sums = 0aff840e844a077f5d7aeae9e6f504778fc66168169eef5571b8e950287db93e

pkgname = dataspell
