pkgbase = dataspell
	pkgdesc = Your powerful cross-platform IDE for relational and NoSQL databases
	pkgver = 2025.3.1
	pkgrel = 1
	url = https://www.jetbrains.com/dataspell
	arch = x86_64
	license = custom:jetbrains
	depends = libdbusmenu-glib
	depends = jbr-runtime
	options = !strip
	source = jetbrains-dataspell.desktop
	source = https://download.jetbrains.com/python/dataspell-2025.3.1.tar.gz
	source = https://download.jetbrains.com/python/dataspell-2025.3.1.tar.gz.sha256
	sha256sums = 239f9c4380cefa84652ec7761af8a011455aa6d558f4e42b47f010c47d8a5321
	sha256sums = 37f13426ce4f5d859d7db246f2328ccbad61adf361d43c784cb6932af6644c28
	sha256sums = 979a54b008cce6429fa0ba8a0f5cf081f0145df0e3152e1e08ba043fe3b04e98

pkgname = dataspell
