pkgbase = clion
	pkgdesc = A cross-platform IDE for C and C++. Harness the power. Cut the complexity.
	pkgver = 2025.1.1+251.25410.104
	pkgrel = 1
	epoch = 1
	url = https://www.jetbrains.com/clion
	arch = x86_64
	license = custom:jetbrains
	depends = libdbusmenu-glib
	depends = jbr-runtime
	options = !strip
	source = jetbrains-clion.desktop
	source = https://download.jetbrains.com/cpp/CLion-2025.1.1.tar.gz
	source = https://download.jetbrains.com/cpp/CLion-2025.1.1.tar.gz.sha256
	sha256sums = ac56066946e2386f28a393d4afa2362be4f0b878feebbd68825af39a11691b58
	sha256sums = 2f747d7240d70b65ed98d736dbcd6ac2b98ac93aff993a63c5f8bd0f65918ac5
	sha256sums = 3d33d6a1f4c9e68ea2ca56ef65300f161c39d51e2debdf094979aa445b15c639

pkgname = clion
