pkgbase = clion
	pkgdesc = A cross-platform IDE for C and C++. Harness the power. Cut the complexity.
	pkgver = 2025.1.4+251.27812.15
	pkgrel = 1
	epoch = 1
	url = https://www.jetbrains.com/clion
	arch = x86_64
	license = custom:jetbrains
	depends = libdbusmenu-glib
	depends = jbr-runtime
	options = !strip
	source = jetbrains-clion.desktop
	source = https://download.jetbrains.com/cpp/CLion-2025.1.4.tar.gz
	source = https://download.jetbrains.com/cpp/CLion-2025.1.4.tar.gz.sha256
	sha256sums = ac56066946e2386f28a393d4afa2362be4f0b878feebbd68825af39a11691b58
	sha256sums = 8d90be9d11c0f47b380f4a9f705058215817edf043bdcea2223d788d25193f78
	sha256sums = e96a9211f605429c7e2cce5a0ccf481e4deacf2a7327541d526fcad9bc60569d

pkgname = clion
