pkgbase = clion
	pkgdesc = A cross-platform IDE for C and C++. Harness the power. Cut the complexity.
	pkgver = 2025.2.1+252.25557.127
	pkgrel = 1
	epoch = 1
	url = https://www.jetbrains.com/clion
	arch = x86_64
	license = custom:jetbrains
	depends = libdbusmenu-glib
	depends = jbr-runtime
	options = !strip
	source = jetbrains-clion.desktop
	source = https://download.jetbrains.com/cpp/CLion-2025.2.1.tar.gz
	source = https://download.jetbrains.com/cpp/CLion-2025.2.1.tar.gz.sha256
	sha256sums = ac56066946e2386f28a393d4afa2362be4f0b878feebbd68825af39a11691b58
	sha256sums = f50e1a1e5172f652efdb7d72dc8c2a6222564671983b0c8b03caa68c56630648
	sha256sums = 3b14e040a313df56465184f1bb280f97ccb7d5f60ede2c3f994801dc03eda943

pkgname = clion
