pkgbase = list-orphans-hook
	pkgdesc = A pacman hook that lists orphaned packages in prettier format.
	pkgver = 1.0
	pkgrel = 6
	url = https://aur.archlinux.org/packages/list-orphans-hook
	arch = any
	license = Creative Commons Zero v1.0 Universal
	depends = bash
	depends = pacman
	depends = bc
	source = list-orphans.sh
	source = list-orphans.hook
	sha256sums = aabda65e6f21d85e435841a8a830e04aef2425fc4862d0b559def60e8996c04a
	sha256sums = a7002ef646d4af042afdbb2dec81ae94cf9e5eb5784d62a3ffd666e0baa0ea82

pkgname = list-orphans-hook
